# This is a basic workflow to help you get started with Actions

name: split
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2  # updated from v2
    - name: Ready to Go
      run: |    
        wget --no-check-certificate -t 1 -T 10 -O block https://raw.githubusercontent.com/neodevpro/neodevhost/master/block        
        split -l 3500 block -a 2 -d splitblock
        
    - name: push
      uses: github-actions-x/commit@v2.9  # updated from v2.7
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'master'
        commit-message: 'Add Deadhost'
        force-add: 'true'
        files: splitblock*
        name: FusionPlmH
        email: leemenhin@gmail.com
        rebase: 'true'

